<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @draw_rule_variety.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @draw_rule_variety.variety %>
</p>

<%= link_to 'Edit', edit_draw_rule_variety_path(@draw_rule_variety) %> |
<%= link_to 'All', draw_rule_varieties_path %>
