<%= form_with(model: draw_rule, local: true) do |form| %>
  <% if draw_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(draw_rule.errors.count, "error") %> prohibited this draw_rule from being saved:</h2>

      <ul>
        <% draw_rule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :draw_definition_id %>
    <%= form.collection_select(:draw_definition_id, DrawDefinition.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :draw_rule_variety_id %>
    <%= form.collection_select(:draw_rule_variety_id, DrawRuleVariety.all, :id, :variety) %>
  </div>

  <div class="field">
    <%= form.label :group_name %>
    <%= form.text_field :group_name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
