<p id="notice"><%= notice %></p>

<h4 class="widget-title">Draw Stages</h4>

<table>
  <thead>
    <tr>
      <th>Draw stage definition</th>
      <th>Draw step</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @draw_stages.each do |draw_stage| %>
      <tr>
        <td><%= draw_stage.draw_stage_definition.name %></td>
        <td><%= draw_stage.draw_step.draw_step_variety.description %></td>
        <td><%= draw_stage.group.name %></td>
        <td><%= link_to 'Show', draw_stage %></td>
        <td><%= link_to 'Edit', edit_draw_stage_path(draw_stage) %></td>
        <td><%= link_to 'Destroy', draw_stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Draw Stage', new_draw_stage_path %>
